<br>
<br>
<br>
<%= form_for @opject do |f| %>
  <%= f.select :first_select, options_for_select([["Option 1", 1], ["Option 2", 2]]), include_blank: true %>
  <%= f.select :second_select, options_for_select([["Option A", 1], ["Option B", 2]]), include_blank: true %>
<% end %>

<script>

  $(document).ready(function() {
    $('#opject_first_select').on('change', function() {
      var first_select_value = $(this).val();
      $.ajax({
        url: '/opjects/update_second_select/' + first_select_value,
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            var options_html = '';
            $.each(data, function(index, value) {
                options_html += '<option value="' + value.id + '">' + value.name + '</option>';
            });
            $('#opjects_second_select').html(options_html);
        },
        error: function(xhr, textStatus, errorThrown) {
            console.log('Error fetching options: ' + errorThrown);
        }
        });
        // data: { first_select_value: first_select_value },
        // dataType: 'script'
      });
    });
    // $('#opject_second_select').on('change', function(e) {
    //   e.preventDefault();
    // });
  });

</script>